<!DOCTYPE html>
<html>
<head>
	<title>Job Portal</title>
	<link rel="stylesheet" type="text/css" href="/abc/css/style.css">
</head>
<body>
	<h1> Welcome, <%= name %></h1>
	<h3>Your ID, <%= id %></h3>

	<a href="/job/jobCreate">Create User</a> | 
	<a href="/job/allJoblist">User list</a> | 
	<a href="/logout">logout</a> 

</body>
</html>
